<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Watchtowr</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/4.3.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/4.3.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/4.3.1/firebase-database.js"></script>
    <script defer src="/__/firebase/4.3.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/4.3.1/firebase-storage.js"></script>
    <script defer src="Cymon.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
</head>
<body>
<div style="float:left; margin-top: 20px">
<img src="assets/images/logo.png" style="width: 260px;">
 <h4>
    {{title}}
 </h4>
</div>
 <p style="font-size: 12px; float:right; margin-top: 20px; margin-right: 50px;"> Log In With Google </p>
<div style="clear: both;"> </div>
<br>
<br>
<br>
<br>
 <img src="assets/images/Rectangle.png" style="float:left; margin: 20px 30px 0px 0px; height:239px">
 <p> Solutions to server and data security threats.</p>
    <p style="clear: both;"> </p>
<br>
<br>
  <img src="assets/images/Rectangle2.png" style="float:left; margin: 20px 30px 0px 0px; height:239px">
 <p> Based off the largest open tracker of malware, phishing, botnets, spam, and more.</p>
     <p style="clear: both;"> </p>
<br>
<br>
  <img src="assets/images/Rectangle3.png" style="float:left; margin: 20px 30px 0px 0px; height:239px">
 <p> We actively search for threats, bringing you information so you do not have to search for it.</p>
  <p style="clear: both;"> </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="buttonHolder">
<button class="btn btn-primary">
  Install Now
</button>
</div>
<br>
<br>
<br>
<br>
</body>

</html>

